@import url("https://fonts.googleapis.com/css2?family=Handjet&display=swap");

body {
        background-color: #eee;
        background-image: linear-gradient(
            45deg,
            black 25%,
            transparent 25%,
            transparent 75%,
            black 75%,
            black
          ),
          linear-gradient(
            -45deg,
            black 25%,
            transparent 25%,
            transparent 75%,
            black 75%,
            black
          );
        background-size: 60px 60px;
      }
      .darkness {
        background: black;
        color: white;
        border: 2px solid white;
        margin: 30px auto;
        display: block;
        text-align: center;
        padding: 8px 11px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        transition: all 200ms ease-in-out;
      }
      .darkness:hover {
        background: white;
        color: black;
        border: 2px solid black;
        cursor: pointer;
      }
      .container {
        max-width: 800px;
        background: #ff5722;
        color: white;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        border-radius: 15px;
        border: 3px solid black;
      }
      img {
        max-width: 100%;
        width: 350px;
        border-radius: 10px;
        border: 1px solid black;
        transition: all 200ms ease-in-out;
      }
      img:hover {
        filter: saturate(130%);
        transform: scale(1.2);
      }
      .grid-1 {
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
      }
      .grid-1 img {
        width: 100%;
      }
      .grid-2 {
        margin: 15px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
      }
      .grid-2 img {
        width: 100%;
      }
      .tiktok {
        background: white;
        color: black;
        border: 2px solid black;
        margin: 30px auto;
        display: block;
        text-align: center;
        padding: 8px 11px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        transition: all 200ms ease-in-out;
      }
      .tiktok:hover {
        background: black;
        color: white;
        border: 2px solid white;
        cursor: pointer;
      }
      .social:link {
        text-decoration: none;
        color: black;
      }

      .social:visited {
        text-decoration: none;
        color: black;
      }

      .social:hover {
        text-decoration: none;
        color: white;
      }
      footer {
        color: #ff5722;
         font-family: "Handjet", cursive;
        font-size: 20px;
        letter-spacing: 2px;
        background: rgba(255, 255, 255, 0.8);
        margin: 50px auto;
        border-radius: 10px;
        max-width: 800px;
        text-align: center;
      }
.foot {
  text-decoration: none;
  color: black;
}
.foot:hover {
  cursor: pointer;
  background: black;
  color: greenyellow;
}
      .darky .container {
        background: black;
        border: 3px solid white;
      }
      .darky img {
        filter: grayscale(70%);
      }
      .darky img:hover {
        filter: grayscale(100%);
      }
      .name {
        color:#ff5722;
        text-decoration: none;
      }
      .name:hover {
        color:black;
        cursor: pointer;
      }
